/* #wrapper{
    width: 100%;
    height: 100%;
} */
.menubar .col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.navrow {
    display: flex;
}

.dropdown-container {
    display: none;
    padding-left: 3px;
}

.navrow>.fa {
    padding-top: 11px
}

.spnPendingStatus {
    color: #ff0000;
    display: block;
}

.btn-transparent,
.btn-transparent:focus,
.btn-transparent:active:focus {
    background: transparent;
    border: none;
    outline: none;
}