<mat-sidenav-container class="sidenav-container">
    <mat-sidenav fixedInViewport="true" mode="side" opened="true" class="sidenav" *ngIf="loginstatus">
        <div [class]="showNavText == false ? 'leftPart' : (showNavText == true ? 'leftPart1' : 'leftPart')">
            <mat-toolbar style="background-color: #fff" class="menubar">
                <img src="assets/images/tollmaxlogo.png" height="50px" width="50px"/>
                <span *ngIf="showNavText" class="logoText">{{ClientFirstName}}<br> <span>{{ClientSecondName}}</span></span>
            </mat-toolbar>
            <div [class]="showNavText == false ? 'sidenavcontainer' : (showNavText == true ? 'sidenavcontainer1' : 'sidenavcontainer')">
                <div class="navitemcontainer" *ngFor="let menu of MenuList;">
                    <div *ngIf="menu.ChildCount == 0 && menu.ParentId == 0">
                        <div class="navrow">
                            <div class="selectedpointer" *ngIf="currentRoute == menu.MenuURL" style="background-color: #2196f3!important">
                            </div>
                            <a mat-icon-button [routerLink]="['/'+menu.MenuURL]" *ngIf="menu.ParentId==0">
                                <mat-icon [matTooltip]="menu.MenuName" matTooltipPosition="after" class="navicon">{{menu.MenuIcon}}</mat-icon>
                            </a>
                            <h4 *ngIf="showNavText" class="navtext" [routerLink]="['/'+menu.MenuURL]">{{menu.MenuName}}</h4>
                        </div>
                    </div>
                    <div *ngIf="menu.ChildCount != 0 && menu.ParentId == 0">
                        <div class="dropdown-btn navrow" (click)="showChild($event);" ngClass="parent_{{menu.MenuId}}">
                            <div class="selectedpointer" *ngIf="currentRoute == menu.MenuURL" style="background-color: #2196f3!important">
                            </div>
                            <a mat-icon-button>
                                <mat-icon [matTooltip]="menu.MenuName" matTooltipPosition="after" class="navicon">{{menu.MenuIcon}}</mat-icon>
                            </a>
                            <i class="fa fa-caret-down"></i>
                            <h4 *ngIf="showNavText" class="navtext">{{menu.MenuName}}</h4>
                        </div>
                        <div class="dropdown-container" *ngFor="let submenu of MenuList | serchFilter :menu.MenuId: 'filtermenu'">
                            <div class="navrow">
                                <div class="selectedpointer" *ngIf="currentRoute == submenu.MenuURL" style="background-color: #2196f3!important">
                                </div>
                                <a mat-icon-button [routerLink]="['/'+submenu.MenuURL]" *ngIf="menu.ParentId==0">
                                    <mat-icon [matTooltip]="submenu.MenuName" matTooltipPosition="after" class="navicon" ngClass="child_{{menu.MenuId}}" style="color:#C0C0C0">{{submenu.MenuIcon}}</mat-icon>
                                </a>
                                <h4 *ngIf="showNavText" class="navtext" [routerLink]="['/'+submenu.MenuURL]">{{submenu.MenuName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{'margin-left': '150px','margin-right':'10px'}" id="sidecontain">
        <div [class]="showNavText==false ? 'rightpart' : (showNavText==true ? 'rightpart1' : 'rightpart') ">
            <mat-toolbar color="primary" *ngIf="loginstatus">
                <mat-toolbar-row>
                    <button (click)="onMenuBtnClick()" mat-icon-button style="color:#2196f3!important;">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span class="example-spacer"></span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item (click)="ChangePasswordPopUp()">
                            <mat-icon>security</mat-icon>
                            <span>Change Password</span>
                        </button> -->
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="logoutUser() ">
                            <mat-icon>work_off</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                </mat-toolbar-row>
            </mat-toolbar>
            <div id="main-wrapper">
                <div [class]="(loginstatus==true ? 'main-page-wrapper' : 'page-wrapper')">
                    <router-outlet></router-outlet>
                </div>
                <footer class="footer text-center">
                    <a [routerLink]="[ ''] "><img src="assets/images/tollmaxlogo.png " height="35" /></a>
                    Copyright © Developed by VaaaN Infra PVT LTD
                </footer>
            </div>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

