.main-modal{
    background: #fff;
    position: absolute;
    width: 300px;
    top: 100px;
    z-index: 99999;
    left: 30%;
    border-radius: 10px;
}

.modal-parent{
    background: rgba(100, 100, 100, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    top: 0;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.pull-center{
    display: flex;
    justify-content: center;
}

.modal-header{
    background: #563d7c;
    color: #fff;
    /* font-size: 12px; */
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-footer{
    background: #563d7c;
}

.modal-block{
    background: #fff;
}
.text-box-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.alert{
    margin-top: 0 !important;
    width:100%;
    margin-bottom: 0 !important;
}


