@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";
@import "~ng-pick-datetime/assets/style/picker.min.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    color: #2C3539;
    font-size: 12px !important;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    background-color: #e7e7e7;
    /* padding-top: 60px;
    padding-bottom: 0px; */
    overflow: hidden;
}

body[data-theme=dark] #main-wrapper,
body[data-theme=dark] .breadcrumb,
body[data-theme=dark] .border-top,
body[data-theme=dark] body[data-theme=dark] .page-wrapper {
    color: #b2b9bf
}

#main-wrapper[data-layout=vertical] .page-wrapper {
    transition: .2s ease-in
}

#main-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-wrapper[data-layout=vertical][data-sidebartype=full] .page-wrapper {
    margin-left: 150px
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .page-wrapper {
    margin-left: 180px
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .page-wrapper {
    padding-top: 64px
}

#main-wrapper[data-layout=vertical][data-boxed-layout=boxed] {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .2)
}

@media (min-width:768px) {
    #main-wrapper[data-layout=vertical][data-sidebar-position=fixed][data-sidebartype=mini-sidebar] .topbar .top-navbar .navbar-collapse,
    #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .page-wrapper {
        margin-left: 65px
    }
    .d-md-flex {
        display: flex!important
    }
}

html[dir=rtl] #main-wrapper[data-sidebartype=full] .page-wrapper {
    margin-right: 250px;
    margin-left: 0
}

html[dir=rtl] #main-wrapper[data-sidebartype=iconbar] .page-wrapper {
    margin-right: 180px;
    margin-left: 0
}

html[dir=rtl] .page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
    padding-left: 0
}

html[dir=rtl] .page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\e64a";
    padding-right: 0;
    padding-left: .5rem
}

@media (min-width:768px) {
    html[dir=rtl] #main-wrapper[data-sidebar-position=fixed][data-sidebartype=mini-sidebar] .topbar .top-navbar .navbar-collapse,
    html[dir=rtl] #main-wrapper[data-sidebartype=mini-sidebar] .page-wrapper {
        margin-right: 65px;
        margin-left: 0
    }
}

#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .page-wrapper {
    padding-top: 78px
}

@media (min-width:768px) {
    #main-wrapper[data-layout=horizontal] {
        background: #eef5f9
    }
    #main-wrapper[data-layout=horizontal][data-boxed-layout=boxed] .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        position: relative
    }
    #main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .page-wrapper {
        padding-top: 128px
    }
}

html[dir=ltr] body .m-r-10 {
    margin-right: 10px
}

.text-info {
    color: #eaa23c!important
}

html[dir=ltr] body .m-b-0 {
    margin-bottom: 0
}

html[dir=rtl] body .m-t-30 {
    margin-top: 30px
}

html[dir=ltr] body .m-t-30 {
    margin-top: 30px
}

html[dir=ltr] body .m-t-20 {
    margin-top: 20px
}

html[dir=rtl] body .m-t-20 {
    margin-top: 20px
}

html[dir=ltr] body .p-15 {
    padding: 15px
}

html[dir=rtl] body .p-15 {
    padding: 15px
}

html[dir=ltr] body .p-l-25 {
    padding-left: 25px
}

html[dir=ltr] body .p-r-25 {
    padding-right: 25px
}

html[dir=rtl] body .m-b-20 {
    margin-bottom: 20px
}

.m-b-0 {
    font-weight: 300
}

html body .font-medium {
    font-weight: 600
}

html body .font-light {
    font-weight: 300
}

html body .display-5 {
    font-size: 3rem
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    background-color: #fff;
    color: #f8f8f8;
    overflow: hidden !important;
}

.rightPart {
    margin-left: 50px;
    color: #2196f3!important;
}

.rightPart1 {
    margin-left: 160px!important;
    color: #2196f3!important;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 10px;
    cursor: pointer;
}

.logoText {
    font-style: italic !important;
    color: #6c757d !important;
    font-size: 14px;
    padding-left: 8px;
    width: 80px;
    word-break: break-all;
    line-height: 16px;
}


/* Side Navigation Bar Item Container */

.sidenavcontainer {
    padding-top: 65px;
    height: 100%;
    flex-direction: column;
    transition: 0.5s;
    color: #2196f3!important;
}

.sidenavcontainer1 {
    padding-top: 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #2196f3!important;
    transition: 0.5s;
}

.menuitem {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 10px;
}

.navicon {
    font-size: 30px;
}

.navitemcontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.navsubitemcontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 25%;
    width: 100%;
}


/* Side Navigation Bar Text */

.navtext {
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    align-self: center;
    margin-top: 3px;
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
    color: #6c757d !important;
    font-size: 12px !important;
}


/* Side Navigation Bar Pointer */

.selectedpointer {
    width: 5px;
    padding-left: 0%;
    margin-left: 0%;
}

a:focus,
a:hover {
    text-decoration: underline;
    cursor: pointer;
    border: none;
    color: inherit;
}

.languageDisplay {
    width: 100%;
    font-size: 15px;
    padding-left: 5%;
    background-color: white;
    color: gray;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
}

.languageDisplay span a:hover {
    color: #2196f3 !important;
}

.languageDisplay span a.active {
    text-decoration: underline;
    color: #2196f3;
}

.leftPart {
    background-color: #fff;
    width: 50px;
    color: #f8f8f8;
    height: 100%;
}

.leftPart1 {
    width: 160px;
    color: #f8f8f8;
    height: 100%;
}

.logout {
    position: absolute;
    height: 20px;
    width: 20px;
}


/***************Filter Start *********/

.filterModel {
    max-height: 250px !important;
    overflow-y: auto;
    position: relative !important;
    flex: 1 1 auto !important;
    padding: 1px !important;
}

#filterModelid .modal-dialog {
    max-width: 500px;
    margin: 0px;
}

.card .card-header-primary .filter-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
}

.card [class*=card-header-] .filter-icon,
.card [class*=card-header-] .card-text {
    /* border-radius: 10px;
    background-color: #2196f3;


    */
    background-color: none;
    cursor: pointer;
    padding: 8px;
    margin-top: -42px;
    margin-right: 15px;
    float: right;
}

.filter-icon .material-icons {
    color: #fff;
}

.filter-icon .fa {
    color: #fff;
    font-size: 15px;
}


/***************Filter End *********/

.grid-height {
    height: 345px;
}

@media screen and ( height: 400px) {
    .page-wrapper {
        position: relative;
        min-height: 496px;
        overflow-y: hidden;
    }
}

@media screen and ( min-height: 700px) {
    .page-wrapper {
        position: relative;
        min-height: 496px;
        overflow-y: hidden;
        /* overflow-y: auto; */
    }
}

@media screen and ( max-height: 699px) {
    .page-wrapper {
        position: relative;
        min-height: 560px;
        overflow-y: auto;
    }
    .main-page-wrapper {
        position: relative;
        min-height: 495px;
        overflow-y: auto;
    }
    .container-fluid {
        width: inherit;
        height: 498px;
        overflow-y: auto;
        padding: 0px;
        margin: 0px;
    }
    .languageDisplay {
        width: 100%;
        font-size: 15px;
        padding-left: 5%;
        background-color: white;
        color: gray;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        position: absolute;
    }
    .grid-height {
        height: 345px;
    }
}

@media screen and ( min-height: 899px) {
    .page-wrapper {
        position: relative;
        min-height: 860px;
        overflow-y: auto;
    }
    .main-page-wrapper {
        position: relative;
        min-height: 795px;
        overflow-y: auto;
    }
    .container-fluid {
        width: inherit;
        height: 798px;
        overflow-y: auto;
        padding: 0px;
        margin: 0px;
    }
    .languageDisplay {
        width: 100%;
        font-size: 15px;
        padding-left: 5%;
        background-color: white;
        color: gray;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        position: absolute;
    }
    .grid-height {
        height: 645px;
    }
}

.wrapper {
    background-color: #fff !important;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    width: 80%;
    margin: 0 auto;
}

.centerDiv {
    width: 60%;
    height: 60%;
    /* background-color: #fff; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.shadow {
    border-radius: 25px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/***Login Start***/

.logoimg {
    height: 100px;
    width: 200px;
}

.loginbtn {
    background: linear-gradient(to left, #108ee9 20%, #108ee9 84%);
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
    box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
}

.signupbtn {
    background: linear-gradient(to left, #108ee9 20%, #108ee9 84%);
    color: #fff;
    font-weight: bold;
}

.signupbtn:hover {
    background: linear-gradient(to left, #108ee9 20%, #108ee9 84%);
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
    box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
}


/***Login End***/

.text-body {
    color: #3e5569!important
}

.text-muted {
    color: #a1aab2!important
}

.btn {
    white-space: nowrap;
    font-weight: 400
}

.btn-info.focus,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(41, 98, 255, .5)
}

.btn-info {
    color: #fff;
    background-color: #eaa23c;
    border-color: #eaa23c
}

.btn-info:hover {
    color: #fff;
    background-color: #e38b34;
    border-color: #e38b34
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #eaa23c;
    border-color: #eaa23c
}

.btn-info.focus,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(41, 98, 255, .5)
}

.btn-info {
    color: #2196f3;
    background-color: transparent;
    border-color: #2196f3
}

.btn-info:hover {
    color: #2196f3;
    background-color: transparent;
    border-color: #2196f3
}

.btn-info.disabled,
.btn-info:disabled {
    color: #2196f3;
    background-color: transparent;
    border-color: #2196f3
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #2196f3;
    background-color: transparent;
    border-color: #2196f3
}

.border {
    border: 1px solid #e9ecef!important
}

.border-top {
    border-top: 1px solid #e9ecef!important
}

.border-right {
    border-right: 1px solid #e9ecef!important
}

.border-bottom {
    border-bottom: 1px solid #e9ecef!important
}

.border-left {
    border-left: 1px solid #e9ecef!important
}

.text-lowercase {
    text-transform: lowercase!important
}

.text-uppercase {
    text-transform: uppercase!important
}

.text-capitalize {
    text-transform: capitalize!important
}

.font-weight-light {
    font-weight: 300!important
}

.font-weight-normal {
    font-weight: 400!important
}

.font-weight-bold {
    font-weight: 800!important
}

.font-italic {
    font-style: italic!important
}

.text-white {
    color: #fff!important
}

.text-primary {
    color: #2196f3!important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #2196f3!important
}

.text-secondary {
    color: #6c757d!important
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #545b62!important
}

.text-success {
    /* color: #36bea6!important; */
    color: linear-gradient(60deg, #66bb6a, #43a047)!important;
}

a.text-success:focus,
a.text-success:hover {
    color: #2b9683!important
}

.text-info {
    color: #eaa23c!important
}

a.text-info:focus,
a.text-info:hover {
    color: #e38b34!important
}

.text-warning {
    color: #ffbc34!important
}

a.text-warning:focus,
a.text-warning:hover {
    color: #ffab01!important
}

.text-danger {
    color: #f62d51!important
}

a.text-danger:focus,
a.text-danger:hover {
    color: #e60a31!important
}

.text-light {
    color: #f8f9fa!important
}

a.text-light:focus,
a.text-light:hover {
    color: #dae0e5!important
}

.text-dark {
    color: #343a40!important
}

a.text-dark:focus,
a.text-dark:hover {
    color: #1d2124!important
}

.text-cyan {
    color: #4fc3f7!important
}

a.text-cyan:focus,
a.text-cyan:hover {
    color: #1eb2f5!important
}

.text-orange {
    color: #fb8c00!important
}

a.text-orange:focus,
a.text-orange:hover {
    color: #c87000!important
}

.text-purple {
    color: #7460ee!important
}

a.text-purple:focus,
a.text-purple:hover {
    color: #4c32e9!important
}

.text-black-50 {
    color: rgba(0, 0, 0, .5)!important
}

.text-white-50 {
    color: rgba(255, 255, 255, .5)!important
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    background-color: transparent;
    border: 0
}

.c-blue-500,
.cH-blue-500:hover {
    color: #2196f3!important;
}

.gap-5 {
    margin-left: auto;
    margin-right: 0;
}

.peers {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding-right: 2px;
}

.d-flex {
    display: flex!important
}

.justify-content-end {
    justify-content: flex-end!important
}

.align-items-center {
    align-items: center!important
}

.page-breadcrumb {
    padding: 20px 20px 10px 10px
}

.page-breadcrumb .page-title {
    margin-bottom: 0;
    color: #6c757d !important;
}

.page-breadcrumb .breadcrumb {
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 12px
}

.page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\e649";
    font-family: themify;
    color: #ced4da;
    font-size: 11px
}

.align-self-center {
    align-self: center!important
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    left: -100px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #2196f3;
}

#over {
    position: relative !important;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text-purple {
    color: #8e24aa!important;
}

.popupBox {
    max-height: 357px;
    min-height: 357px;
    /* max-height: 420px;
    min-height: 420px; */
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

.c-gray-500 {
    color: gainsboro !important;
}

.bluebg {
    text-align: center;
    background: blue;
    color: white;
}

.redbg {
    text-align: center;
    background: red;
    color: white;
}

.align-self-right {
    float: right !important;
    overflow: visible !important;
}

.btn-outline-primary {
    color: #007bff !important;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff !important;
}

button:focus {
    outline: 1px dotted;
    /* outline: 5px auto -webkit-focus-ring-color;  */
}

.right-text {
    text-align: right !important;
}


/***Model Start***/

.modal {
    position: fixed;
    top: 21%;
    right: 4%;
    bottom: 0;
    left: unset;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    max-width: 30% !important;
}

@media(max-width: 550px) {
    .modal {
        position: fixed;
        top: 23%;
        right: 10%;
        bottom: 0;
        left: unset;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
        max-width: 60% !important;
    }
}


/* start of desktop styles */

@media screen and (max-width: 991px) {
    .modal {
        position: fixed;
        top: 33%;
        right: 7%;
        bottom: 0;
        left: unset;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
        max-width: 40% !important;
    }
}

@media screen and (max-width: 767px) {
    .modal {
        position: fixed;
        top: 33%;
        right: 7%;
        bottom: 0;
        left: unset;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
        max-width: 40% !important;
    }
}

@media screen and (max-width: 479px) {
    .modal {
        position: fixed;
        top: 31%;
        right: 12%;
        bottom: 0;
        left: unset;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
        max-width: 60% !important;
    }
}

@media(max-width: 600px) {
    .modal {
        position: fixed;
        top: 33%;
        right: 10%;
        bottom: 0;
        left: unset;
        z-index: 1050;
        overflow: hidden;
        outline: 0;
        max-width: 60% !important;
    }
}


/***Model END***/


/***MAT Start***/

.mat-step-header .mat-step-icon {
    background-color: #2196f3;
    color: #fff;
}

.mat-horizontal-stepper-header {
    display: flex;
    height: 30px!important;
    overflow: hidden;
    align-items: center;
    padding: 0 15px !important;
}

.mat-tab-group {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 95%;
}

.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
    background-color: #2196f3 !important;
}

.mat-tab-group.mat-background-primary .mat-tab-label,
.mat-tab-group.mat-background-primary .mat-tab-link,
.mat-tab-nav-bar.mat-background-primary .mat-tab-label,
.mat-tab-nav-bar.mat-background-primary .mat-tab-link {
    color: #fff !important;
}

.mat-card {
    color: rgba(0, 0, 0, .87);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 15px;
    border-radius: 2px;
}

.mat-icon {
    font-size: 18px !important;
    vertical-align: middle;
    text-align: center;
    height: auto !important;
    width: auto !important;
}

.mat-drawer-container {
    background-color: #d2d2d4;
    color: rgba(0, 0, 0, .87);
}


/******Mat Menu****/

.mat-menu-item .mat-icon:not([color]),
.mat-menu-item-submenu-trigger::after {
    color: #2196f3;
}

.mat-toolbar.mat-primary {
    background: #fff;
    color: #2196f3;
}

.mat-toolbar.mat-toolbar-single-row {
    display: flex;
    box-sizing: none;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    position: absolute;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
}


/***MAT END***/


/***card Start***/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

card>hr {
    margin-right: 0;
    margin-left: 0
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-footer,
.card-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03)
}

.card-title {
    margin-bottom: .75rem;
    color: #fff;
}

.card-header,
.card-subtitle,
.card-text:last-child {
    margin-bottom: 0
}

.card-subtitle {
    margin-top: -.375rem
}

.card-header {
    border-bottom: 0 solid transparent
}

.card-header:first-child {
    border-radius: calc(0px - 0px) calc(0px - 0px) 0 0
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0
}

.card-footer {
    border-top: 0 solid transparent
}

.card-footer:last-child {
    border-radius: 0 0 calc(0px - 0px) calc(0px - 0px)
}

.card {
    margin-bottom: 20px
}

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
}

.card .card-header {
    border-bottom: none;
    background: 0 0;
    z-index: 3!important;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card [class*=card-header-] .card-icon,
.card [class*=card-header-] .card-text {
    border-radius: 13px;
    background-color: #999;
    padding: 25px;
    margin-top: -42px;
    margin-right: 15px;
    float: left;
}

.card-icon .material-icons {
    color: #fff;
}

.card-icon .fa {
    color: #fff;
    font-size: 15px;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    color: #999;
    font-size: 14px;
    float: right;
}

.card-stats .card-header.card-header-icon .card-category,
.card-stats .card-header.card-header-icon .card-title,
.card-stats .card-header.card-header-text .card-category,
.card-stats .card-header.card-header-text .card-title {
    margin: 0;
    float: right;
    color: #2196f3;
}

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
}

.card .card-header-primary,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .back,
.card.card-rotate.bg-warning .front {
    background: linear-gradient(60deg, #2196f3, #21b1f3);
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
}

.card .card-header-warning .card-icon,
.card .card-header-warning .card-text,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text),
.card.bg-warning,
.card.card-rotate.bg-warning .back,
.card.card-rotate.bg-warning .front {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card.bg-success,
.card.card-rotate.bg-success .back,
.card.card-rotate.bg-success .front {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.card .card-header-danger .card-icon,
.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.bg-danger,
.card.card-rotate.bg-danger .back,
.card.card-rotate.bg-danger .front {
    background: linear-gradient(60deg, #ef5350, #e53935);
}

.card .card-header-info .card-icon,
.card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text),
.card.bg-info,
.card.card-rotate.bg-info .back,
.card.card-rotate.bg-info .front {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

.card .card-header-purple .card-icon,
.card .card-header-purple .card-text,
.card .card-header-purple:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.card .card-header-purple .card-icon,
.card .card-header-purple .card-text,
.card .card-header-purple:not(.card-header-icon):not(.card-header-text),
.card.bg-primary,
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}

.small,
small {
    font-size: 60%;
    font-weight: 400;
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
}

.card .card-header-success .card-icon,
.card .card-header-success .card-text,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card.bg-success,
.card.card-rotate.bg-success .back,
.card.card-rotate.bg-success .front {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
}

.card-footer {
    font-size: 12px;
    color: gray;
}

table {
    width: 100%;
}

.mat-header-cell {
    flex: 1;
    min-height: 48px;
    align-items: center;
    color: #2196f3;
}

tr.mat-row {
    border-bottom: 1px solid #dee2e6;
    /* height: 100%; */
}

tr.mat-row:hover {
    cursor: pointer;
    background: #b4b4b433;
}

.mobile-label {
    display: none;
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
    padding-right: 24px;
}

@media(max-width: 600px) {
    .mobile-label {
        width: 150px;
        display: inline-block;
    }
    .mat-header-row {
        display: none;
    }
    tr.mat-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        min-height: 163px
    }
    tr.mat-row:hover {
        cursor: pointer;
        background: transparent;
    }
    table {
        min-height: 700px;
    }
    td.mat-cell:first-child,
    td.mat-footer-cell:first-child,
    th.mat-header-cell:first-child {
        padding-left: 0px !important;
    }
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 0;
        border: none !important;
    }
    td.mat-cell:last-child,
    td.mat-footer-cell:last-child,
    th.mat-header-cell:last-child {
        padding-right: 0px;
    }
}


/***card End***/


/***footer start***/

.footer {
    background-color: #fff;
    padding: 15px 20px
}

.footer-image {
    position: relative;
}

.footer-text {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;
}


/***footer End***/

.cdk-global-scrollblock {
    overflow: hidden !important;
}

.mat-button.mat-danger,
.mat-icon-button.mat-danger,
.mat-stroked-button.mat-danger {
    color: red;
}